:root {
    --background-color: #f2efe8;
    --beige-color: #c2b38a;
    --light-color: #e5e5e5;
    --nav-hover-color: #f3eceb;
    --dark-brown-color: #81734c;
    --cream-color: #dad1d0;
}

@font-face {
    font-family: mystoryFont;
    src: url(sansation_light.woff);
}

html {
    font-size: 15px;
}

body {
    background-color: var(--background-color);
    color: var(--dark-brown-color);
}

.border-top {
    border-top: 1px solid var(--light-color);
    text-align: center;
    bottom: 0;
    width: 100%;
}

.border-bottom {
    border-bottom: 1px solid var(--light-color);
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.mobile-menu, .main-menu, .mobile-menu-link {
    display: none;
}

.main-menu {
    font-size: 16px;
    width: 80px;
    height: 50px;
    border-radius: 25px;
    padding-top: 10px;
    background-color: var(--nav-hover-color);
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-item:hover {
    background-color: var(--nav-hover-color);
    border-radius: 20px;
    color: var(--dark-brown-color);
}

a {
    color: black;
}

    a:hover {
        color: var(--dark-brown-color);
    }


.shopping-btn, .members-btn, .leftnav {
    display: flex;
}

.user-btn {
    border: 0.3px solid black;
    border-radius: 30px;
    margin: 0 5px;
}

input {
    font-size: 16px;
    width: 300px;
}


.bttn {
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    width: 300px;
    font-weight: bold;
    padding: 14px 0px;
    height: 300px;
    border-radius: 150px;
    color: var(--background-color);
    border: 3px solid var(--dark-brown-color);
    font-size: 25px;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s ease all;
    margin: 20px;
    background-repeat: no-repeat;
}

    .bttn:hover {
        -webkit-transition: 0.5s all ease;
        transition: 0.5s all ease;
        color: var(--beige-color);
    }

.tops-btn {
    background-image: url(../img/Tops.jpg);
    background-size: 310px;
}

.bestsellers-btn {
    background-image: url(../img/Bestsellers.jpg);
    background-size: 300px;
}

.bottoms-btn {
    background-image: url(../img/Bottoms.jpg);
    background-size: 315px;
}

.get-weather-btn {
    text-align: center;
    background-color: var(--nav-hover-color);
    color: var(--dark-brown-color);
    border: 1px solid var(--dark-brown-color);
    border-radius: 10px;
    position: relative;
}

.eve-logo {
    width: 100%;
    opacity: 0.1;
    z-index: -1;
}

.videos {
    z-index: 1;
}

.eve-header {
    font-size: 70px;
    color: var(--dark-brown-color);
    text-align: center;
}

.eve-secondary-header {
    font-size: 30px;
    color: var(--dark-brown-color);
}

.register-form, .login-form {
    left: 35%;
    position: relative;
    margin-top: 15px;
}

.footer-content {
    position: relative;
    margin-top: 15px;
}

.submit-btn {
    background-color: var(--beige-color);
    width: 340px;
    height: 55px;
    border: 1px solid var(--dark-brown-color);
    border-radius: 10px;
    font-size: 20px;
    color: var(--cream-color);
}

    .submit-btn:hover {
        background-color: white;
        color: var(--dark-brown-color);
    }

.move-img {
    display: flex;
}

.bi-chevron {
    margin-top: 60%;
}

    .bi-chevron:hover {
        color: brown;
    }

.row {
    display: flex;
    justify-content: space-between;
    text-align: center;
}


.item-second-img {
    display: none;
}

.product-item {
    height: 480px;
    width: 400px;
    margin: 30px 10px;
    border: 2px solid var(--dark-brown-color);
    border-radius: 10px;
}

.item-price {
    margin-bottom: 5px;
}

.grid-container {
    text-align: center;
}


/Media queries for responsive design:/
@media (max-width: 992px) {
    .user-btn

{
    border: 0.3px solid black;
    border-radius: 30px;
    margin: 0 3px;
    font-size: 13px;
    height: 30px;
}

input {
    width: 200px;
}

    input::-webkit-input-placeholder {
        font-size: 11px;
    }

.container {
    font-size: 14px;
}

.best-sellers-video {
    width: 500px;
}

}

@media (max-width: 795px) {
    input {
        width: 150px;
    }

        input::-webkit-input-placeholder {
            font-size: 9px;
        }

    .container, .bottom {
        font-size: 12px;
    }

    .user-btn {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        padding-right: 5px;
        text-align: center;
    }

    .navbar-brand {
        margin-left: 5px;
    }

    .eve-header {
        font-size: 55px;
    }

    .eve-secondary-header {
        font-size: 20px;
    }

    .best-sellers-video {
        width: 400px;
    }

    .mobile-menu {
        display: flex;
    }
}



@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

.story-content {
    font-family: mystoryFont;
    width: 1000px;
    text-align: left;
    line-height: 1.5;
    margin-top: 10%;
}



/*
.eve {
    animation: text-shadow 1.5s ease-in-out infinite;
}

.eve:hover {
    animation-play-state: paused;
}

@keyframes text-shadow {
    0% {
        transform: translateY(0);
        text-shadow: 0 0 0 var(--dark-brown-color), 0 0 0 var(--beige-color), 0 0 0 var(--nav-hover-color), 0 0 0 var(--cream-color);
    }

    20% {
        transform: translateY(-1em);
        text-shadow: 0 0.125em 0 var(--dark-brown-color), 0 0.25em 0 var(--beige-color), 0 -0.125em 0 var(--nav-hover-color), 0 -0.25em 0 var(--cream-color);
    }

    40% {
        transform: translateY(0.5em);
        text-shadow: 0 -0.0625em 0 var(--dark-brown-color), 0 -0.125em 0 var(--beige-color), 0 0.0625em 0 var(--nav-hover-color), 0 0.125em 0 var(--cream-color);
    }

    60% {
        transform: translateY(-0.25em);
        text-shadow: 0 0.03125em 0 var(--dark-brown-color), 0 0.0625em 0 var(--beige-color), 0 -0.03125em 0 #fb203b, 0 -0.0625em 0 var(--cream-color);
    }

    80% {
        transform: translateY(0);
        text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
    }
}
*/