html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        color: #81734c;
    }
}

body {
    background-color: #f2efe8;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-item:hover {
    background-color: #f3eceb;
    border-radius: 20px;
    color: #81734c;
}

a {
    color: black;
}

    a:hover {
        color: #81734c;
    }

.members-btn {
    display: flex;
}

.shopping-btn {
    display: flex;
}

.user-btn {
    border: 0.3px solid black;
    border-radius: 30px;
    margin: 0 5px;
}

input {
    font-size: 16px;
    width: 300px;
}

.leftnav {
    display: flex;
}

.bttn {
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    width: 300px;
    font-weight: bold;
    padding: 14px 0px;
    height: 300px;
    border-radius: 150px;
    color: #f2efe8;
    border: 3px solid #81734c;
    font-size: 25px;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s ease all;
    margin: 20px;
    background-repeat: no-repeat;
}

.tops-btn {
    background-image: url(../img/Tops.jpg);
    background-size: 310px;
}

.bestsellers-btn {
    background-image: url(../img/Bestsellers.jpg);
    background-size: 300px;
}

.bottoms-btn {
    background-image: url(../img/Bottoms.jpg);
    background-size: 315px;
}

.bttn:hover {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    color:#c2b38a;
}

.get-weather-btn {
    text-align: center;
    background-color: #f3eceb;
    color: #81734c;
    border: 1px solid #81734c;
    border-radius: 10px;
    position: relative;
}

.eve-logo {
    width: 100%;
    opacity: 0.1;
    z-index: -1;
}

.videos {
    z-index: 1;
}

.eve-header {
    font-size: 70px;
    color: #81734c;
}

.eve-secondary-header {
    font-size: 30px;
    color: #81734c;
}