@model IEnumerable<EVE.Models.Product>

@{ ViewData["Title"] = "Index"; }

<h1>Products:</h1>
<form>
    <input type="text" placeholder="Search A Product" id="input" />
    <i class="bi bi-search" onclick="searchProduct()"></i>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="grid-container">
    <div class="row">

        @foreach (var item in Model)
        {
        <div class="card col-3" stylw="width:300px;">
            <h1 class="card-name">@item.ProductName</h1>
            <h2 class="product-type">@item.ProductType.Name</h2>
            <p class="item-description"> @item.Description</p>
            <p class="item-price"> @item.Price</p>
            @if (item.Image1 != null)
            {
                string img1 = Convert.ToBase64String(item.Image1);
                <img src="data:image/png;base64,@img1" width="60" height="60" />}
            @if (item.Image2 != null)
            {
                string img2 = Convert.ToBase64String(item.Image2);
                <img src="data:image/png;base64,@img2" width="60" height="60" />

            }
        </div>
        }
    </div>
</div>

    @*<script>
            function searchProduct() {
                var input = document.getElementById('input').value;
                console.log(input);
                console.log(model.ProductName);
                console.log(model);
                console.log(ProductName)
                var item;
                for (item in Model) {
                    console.log((modelItem => item.ProductName));
                    if (input == '') {
                        alert("You Must Enter An input!");
                    }

                }
            }
        </script>*@
