@model IEnumerable<EVE.Models.ProductType>


<h1>Choose A Product Type</h1>

<div class="products-buttons">
    @foreach (var item in Model)
    {
<div class="bttn tops-btn"> <a class="all-types" asp-area="" asp-controller="Products" asp-action="Index">@Html.DisplayFor(modelItem => item.Name)</a></div>}
</div>