@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<div class="footer-content">
    <h2> Our Brand </h2>
    A woman’s wardrobe is her opportunity to stand out and make a lasting first impression.
    Launched in 2021, EVE offers a wide range of apparel to fit any woman’s unique sense of style. Our clothing are carefully curated to provide our customers the latest fashions. To keep our customers in style we post new arrivals daily, as well as offer stylist picks to help any indecisive shoppers, even by your weather!
    EVE is a fashionista’s best place to create the perfect wardrobe.
    Beyond helping you look your best, EVE strives to make every purchase a positive experience. Our top priorities are excellent customer service, exceptionally quick order processing, ultra fast shipping times, and a hassle-free return policy. We value your feedback, whether positive or constructive and we are continuously working to improve your experience.
    If you are a first-time visitor or long-standing customer, we hope you will be thrilled with every aspect of your EVE shopping experience.

</div>