@{
    ViewData["Title"] = "Developers";
}


<div class="footer-content">
    <h1>@ViewData["Title"]</h1>

    <h2>The Owners&Developers</h2>
    Hi there! We are a computer science student, and we are the owner and the developers at EVE .
    We are launched my website in 2021 with a passion to create a one of a kind shopping experience. We had a strong desire to create a site where <b>women of all ages, shapes, sizes and budgets could find their dream outfit.</b>
    We knew We wanted to create fashion that was obtainable to everyone, because We believe that a woman's outfit strongly impacts how they feel. Everyone deserves to feel beautiful, and that is what I sought to create.


    Thank you for taking the time to get to know us a little bit.
    You being here, on our site, means more to me than you will ever know. Whether you are a first time customer, a loyal long term customer, or simply just window shopping, We are so glad you are here. We hope you will allow us the opportunity to impress you!

    Blessings, 
    <strong>Aviv Rabinovitch, Itai Levy, Raz Elkabets and Yarden Tsaraf.</strong>


    <h3>Our Social Media:</h3>
    <ul>
        <li>
            <h4>Aviv Rabinovitch:</h4>
             <a href="">Aviv Linkdein</a> |
             <a href="">Aviv Facebook</a> |
            <a href="https://github.com/aviv275">Aviv GitHub</a> |
             <a href="">Aviv Gmail</a>
        </li>
        <li>
            <h4>Itai Levy:</h4>
             <a href="https://www.linkedin.com/in/itai-levy-3a7309213/">Itai Linkdein</a> |
            <a href="">Itai Linkdein</a> |
             <a href="https://github.com/biskall">Itai GitHub</a> |
            <a href="">Itai Linkdein</a>
        </li>
        <li>
            <h4>Raz Elkabets:</h4>
            <a href="https://www.linkedin.com/in/raz-elkabets-5451a8177/">Raz Linkdein</a> |
            <a href="https://www.facebook.com/raz.elkabets">Raz Facebook</a> |
             <a href="https://github.com/Razelkabets">Raz GitHub</a> |
            <a href="https://razelkabets050@gmail.com">Raz Gmail</a>
        </li>
        <li>
            <h4>Yarden Tsaraf:</h4>
             <a href="www.linkedin.com/in/yarden-tsaraf"> Yarden Linkdein</a> |
            <a href="https://www.facebook.com/yzrp1/">Yarden Facebook</a> |
             <a href="https://github.com/yardentzaraf">Yarden GitHub</a> |
             <a href="https://yardentsaraf@gmail.com">Yarden Gmail</a>
        </li>
    </ul>

</div>
