@{
    ViewData["Title"] = "Developers";
}
<h1>@ViewData["Title"]</h1>



<h2>The Owners&Developers</h2>
<div>
    Hi there! We are a computer science student, and we are the owner and the developers at EVE .
    We are launched my website in 2021 with a passion to create a one of a kind shopping experience. I had a strong desire to create a site where women of all ages, shapes, sizes and budgets could find their dream outfit.
    I knew I wanted to create fashion that was obtainable to everyone, because I believe that a woman's outfit strongly impacts how they feel. Everyone deserves to feel beautiful, and that is what I sought to create.


    Thank you for taking the time to get to know us a little bit.
    You being here, on our site, means more to me than you will ever know. Whether you are a first time customer, a loyal long term customer, or simply just window shopping, We are so glad you are here. I hope you will allow us the opportunity to impress you!

    Blessings,
    <strong>Aviv Rabinovitch, Itai Levy, Raz Elkabets and Yarden Tsaraf.</strong> 


    <h3>Our Social Media:</h3>
    <ul>
        <li>
            <h4>Aviv Rabinovitch:</h4>
            <p>-LINKDEIN:</p>
            <p>-FACEBOOK:</p>
            <p>-GITHUB:</p>
            <p>-GMAIL:</p>
        </li>
        <li>
            <h4>Itai Levy:</h4>
            <p>-LINKDEIN:</p>
            <p>-FACEBOOK:</p>
            <p>-GITHUB:</p>
            <p>-GMAIL:</p>
        </li>
        <li>
            <h4>Raz Elkabets:</h4>
            <p>-LINKDEIN:</p>
            <p>-FACEBOOK:</p>
            <p>-GITHUB:</p>
            <p>-GMAIL:</p>
        </li>
        <li>
            <h4>Yarden Tsaraf:</h4>
            <p>-LINKDEIN:</p>
            <p>-FACEBOOK:</p>
            <p>-GITHUB:</p>
            <p>-GMAIL:</p>
        </li>
    </ul>

</div>