@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center" style="width: 100%;">
    <p class="eve-header eve">EVE</p>
    <p class="eve-secondary-header">By Your Stylish Mode </p>
    <br />


    <div class="videos">
        <video width="800" height="340" class="best-sellers-video" controls autoplay>
            <source src="~/video/production ID_3888252.mp4" type="video/mp4">
        </video>
        <br />
        <video width="400" height="340" class="tops-video" controls autoplay>
            <source src="~/video/production ID_3888262.mp4" type="video/mp4">
        </video>
        <video width="400" height="340" class="bottoms-video" controls autoplay>
            <source src="~/video/production ID_3888268.mp4" type="video/mp4">
        </video>
    </div>

    <div class="story-content"
        <p>
            <b>You are bold, stunning, and unique! </b>
        </p>

        <p>
            There’s no one else quite like you. You are a trendsetter, one step ahead of the latest in fashion with an eye for exceptional clothing at incredible prices. You deserve a wardrobe that reflects your one of a kind style and personality.

            Now you’ve finally found the perfect online boutique just for you! Brand new arrivals and exclusive boutique clothing is added every single day. Find the latest style in affordable women’s apparel that will surely get you noticed while feeling comfortable and cute no matter what. Our curated collections feature pieces with bold prints, flirty details, cute cuts and naturally chic silhouettes you will love.

            From athleisure to our Curves collection, the hottest accessories or affordable women’s boutique clothing is all right here at your fingertips. Get the luxe looks and premium fabrics and silhouettes without the luxe price tag. Impressions Online Boutique is here to help you make your one-of-a-kind statement outfit or renew your entire wardrobe for a fresh injection of the latest fashions that will surely become timeless staples.

            Fashion that is accessible by everyone, no matter your shape or size has always been the dream behind our boutique clothing. We fully believe that when we outfit a woman head to toe with an outfit that looks and feels like a dream, it impacts everything. Confidence, not just in your clothing but how you feel is just as essential as making sure we provide a shopping experience you won’t find anywhere else.

            No matter your age, your size, your shape—you deserve to feel beautiful no matter what. Shop our chic and affordable women’s clothing online today and begin the journey to finally dressing exactly as you’ve always meant. Express yourself, whether you are flirty, fun, sweet, casual, wild, or bold. We have it all! It’s our pleasure to help you find what you’ve always wanted to wear. You deserve to flaunt your beautiful individual soul through style.

         </p>
        <p>
            Stay and find your dream outfits with incredible quality, let's start with out <b>Best Sellers!</b>
        </p>
    </div>

    <button class="bttn bestsellers-btn">Best Sellers</button>

</div>

