@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center" style="width: 100%;">
    <h1>EVE</h1>
    <h2>By Your Stylish Mode </h2>
    <br />
    <button class="bttn">
       Our Products
    </button>
    <br />
    <input type="text" placeholder="Search A Product" oninput="searchProduct()"/>
    <img src="~/img/EVE-logo.jpeg" class="eve-logo" alt="eve-logo"/>
</div>

