@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    How we use your information
    Sharing your information
    Marketing messages
    Seeing adverts for EVE.com online
    Your information and countries outside Europe
    Keeping your information
    Your rights
    You have a lot of rights relating to your personal information, these are:

    The right to be informed about how your personal information is being used (like this notice!)
    The right to access the personal information we hold about you
    The right to request the correction of inaccurate personal information we hold about you (although you can probably do most of this through My Account
    The right to request that we delete your data, or stop processing it or collecting it, in some circumstances
    The right to stop direct marketing messages, which you can do through My Account
    The right to withdraw consent for any consent-based processing at any time
    The right to request that we transfer or port elements of your data either to you or another service provider
    The right to ask us to explain any computer-system decision about you
    The right to complain to your data protection regulator — in the UK, the Information Commissioner’s Office


    If you want to exercise your rights, have a complaint, or just have questions, please contact us. As a starting point, we have 30 days in which to respond to you. Our contact details are at the end of this Policy.
</p>
