@{
    ViewData["Title"] = "Privacy";
}

<div class="footer-content">
    <h1>@ViewData["Title"]</h1>

    <h3>How we use your information</h3>
    We use your information in a number of different ways — what we do depends on the information. The tables below set this out in detail, showing what we do, and why we do it.

   <p> Your Personal Details, such as your name, date of birth, gender, address, email address, social media handle, screen name and phone number.
    </p>
   <p>
       Your body size and shape, if you choose to tell us this

   </p>
   <p>
       Your payment information

   </p>
   <p>
       Your contact history with us

   </p>
   <p>
       Purchase history and saved items

   </p>
   <p>
       Information about your phone or laptop, and how you use our website and app

   </p>
   <p>
       Information from Social Media or accounts you link to us

   </p>
   <p>
       Your responses to surveys, feedback and competitions


   </p>
    <h3>Sharing your information</h3>
    <div>
        We do not, and will not, sell any of your personal data to any third party – including your name, address, email address or credit card information. We want to earn and maintain your trust, and we believe this is absolutely essential in order do that.

        However, we share your data with the following categories of companies as an essential part of being able to provide our services to you:
        <ul>
            <li>Companies in the EVE group, as sometimes different bits of our group are responsible for different activities</li>
            <li>

                Companies that do things to get your purchases to you, such as payment service providers, warehouses, order packers, and delivery companies
            </li>
            <li>
                Professional service providers, such as marketing agencies, advertising partners and website hosts, who help us run our business
            </li>
            <li>
                Affiliates who help us reach out to potential new customers or promote our products on their websites
            </li>
            <li>
                Credit reference agencies, law enforcement and fraud prevention agencies, so we can help tackle fraud
            </li>
            <li>
                You may choose to take advantage of some of our additional services, in which case, depending on your choices we may share your data with the following categories of companies to fulfil the services you have asked for:
            </li>
        </ul>
    </div>


    <h3>Your rights</h3>
    <div>
        You have a lot of rights relating to your personal information, these are:
        <ul>

            <li> The right to be informed about how your personal information is being used (like this notice!)</li>
            <li> The right to access the personal information we hold about you</li>
            <li>
                The right to request the correction of inaccurate personal information we hold about you (although you can probably do most of this through My Account
            </li>
            <li>
                The right to request that we delete your data, or stop processing it or collecting it, in some circumstances
            </li>
            <li>
                The right to stop direct marketing messages, which you can do through My Account
            </li>
            <li>
                The right to withdraw consent for any consent-based processing at any time
            </li>
            <li>
                The right to request that we transfer or port elements of your data either to you or another service provider
            </li>
            <li>
                The right to ask us to explain any computer-system decision about you
            </li>
            <li>
                The right to complain to your data protection regulator — in the UK, the Information Commissioner’s Office
            </li>
        </ul>

        If you want to exercise your rights, have a complaint, or just have questions, please contact us. As a starting point, we have 30 days in which to respond to you. Our contact details are at the end of this Policy.
    </div>
</div>
