@{
    ViewData["Title"] = "Shipping Terms";
}

<div class="footer-content">
    <h1>@ViewData["Title"]</h1>

    <br />
    <p>
        We work to ship out orders the same business day or the next business day after the order has been placed. For holidays, Friday afternoons, weekends, and during physical inventory audits, we may take up to 3 business days to ship orders from our warehouse.
    <p>
        Tracking for your order is emailed to you once your order is shipped out. Tracking updates are available typically within 1 day of shipping out.
        If your tracking shows that your package has not been delivered and there seems to be an unexplained delay in the delivery of your package, please feel free to contact us and we would be happy to help you.
        If you wish to reship an unclaimed, refused, or undeliverable package you are responsible for the new shipping cost. Unclaimed, refused, or undeliverable packages that are returned to us will be processed as a return and the original form of payment will be refunded, less any additional shipping expenses.
        We are not responsible for lost, misdelivered, or stolen packages, or packages that were sent to the address that was entered in at checkout that the customer failed to correct. If your tracking shows that your package has been delivered, please check with your neighbors and family members to make sure they did not receive it by mistake. Then feel free to file a claim with the appropriate delivery service.
        We are not responsible for return shipping costs when returning items for a refund or for lost returns. When shipping a return without the label we provide, we recommend purchasing tracking and keeping shipping receipts for your records.
        Domestic Shipping Information
    </p>
    <section>
        Our shipping options for shipping within Israel are as follows. Business days are Monday through Friday only and do not include national holidays.
        Free standard shipping with estimated delivery within 6 business days.
        Orders under $75 that ship free will do so under the most economical shipping method, which can include but is not limited to services available through DHL, USPS, or FedEx.
        Paid Ground shipping with estimated delivery within 4 business days.
        Paid 2 Day Express shipping with estimated delivery within 2 business days.
        Paid 1 Day Express shipping with estimated delivery within 1 business day.
        Paid shipping costs are calculated at checkout and are based on the weight of your package.
        Delivery dates for ‘Free’ and ‘Ground’ shipping are not guaranteed. We are not responsible for the package once tracking shows that the package has left our warehouse.
        Once the package has left our warehouse, Express packages are guaranteed to be delivered within the specified number of business days. Please contact us if you have any concerns about an express package delivery.
        If your Express order is placed after 2pm CST, then it is set to ship out next business day.

    </section>
    <p>
         Please contact us if you have any concerns about an express package delivery.
    </p>
</div>