 @{
     ViewData["Title"] = "Website Terms";
}

<div class="footer-content">
    <h1>@ViewData["Title"]</h1>

    <h3>Keeping your information</h3>
    <div>
        <p>
            We’ll hold on to your information for as long as you continue to be an EVE customer and for as long as we are required to keep it to ensure we meet our legal requirements across the globe.
        </p>

        <p>
            If you no longer wish to be a customer you can contact our Customer Care team and request that we close your account. However, we have a legal requirement to keep some of your personal data even after you have asked us to delete it. We will only keep what we absolutely need to, and only to make sure we can meet our legal or regulatory requirements, resolve disputes, prevent fraud and abuse, or enforce our Terms & Conditions.
        </p>
    </div>

    <h3>Marketing messages</h3>
    <div>
        If you have said we can, we’ll send you marketing messages to keep you aware of what we’re up to and to help you see and find our products and services.

    </div>

    <h3>Seeing adverts for EVE.com online</h3>
    <div>
        We use online advertising to keep you aware of what we’re up to and to help you see and find our products.

        You may see EVE banners and ads when you are on other websites and apps, such as Social Media. We manage this through a variety of digital marketing networks and ad exchanges. We also use a range of advertising technologies.

        The banners and ads you see are based on information we hold about you, or your previous use of EVE (for example, your EVE search history, and the content you read on EVE) or on EVE banners or ads you have previously clicked on.
    </div>
    <h3> Your information and countries outside Israel</h3>
    <div>
        EVE is a global business with operations inside and outside of the United Kingdom and we use suppliers and fulfilment centres located across the world.  Some of these locations will not offer the same level of protection for your personal data as the UK or the EU, but if we transfer your information to one of these locations we will take steps to ensure that your data and rights are protected through methods approved within the relevant Data Protection laws.  Please contact us if you would like further information about how we protect your transferred information.
    </div>

</div>

